In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('OPENDATA_VEHICLE_CALL_A_BIKE.csv',sep=";")
df.tail(5)

,VEHICLE_HAL_ID,VEHICLE_MODEL_TYPE,VEHICLE_MANUFACTURER_NAME,VEHICLE_MODEL_NAME,VEHICLE_TYPE_NAME,VIN,REGISTRATION_PLATE,SERIAL_NUMBER,KW,FUEL_TYPE_NAME,OWNERSHIP_TYPE,CAPACITY_AMOUNT,ACCESS_CONTROL_COMPONENT_TYPE,COMPANY,COMPANY_GROUP
11223,119763,Fahrrad,Biketec,StadtRAD-Look,StadtRAD,NaN,NaN,8412,NaN,NaN,Kauf,NaN,CAB 2.0,StadtRAD Hamburg,Call a Bike
11224,119781,Fahrrad,Biketec,StadtRAD-Look,StadtRAD,NaN,NaN,8430,NaN,NaN,Kauf,NaN,CAB 2.0,StadtRAD Hamburg,Call a Bike
11225,119798,Fahrrad,Biketec,StadtRAD-Look,StadtRAD,NaN,NaN,8447,NaN,NaN,Kauf,NaN,CAB 2.0,StadtRAD Hamburg,Call a Bike
11226,119777,Fahrrad,Biketec,StadtRAD-Look,StadtRAD,NaN,NaN,8426,NaN,NaN,Kauf,NaN,CAB 2.0,StadtRAD Hamburg,Call a Bike
11227,119796,Fahrrad,Biketec,StadtRAD-Look,StadtRAD,NaN,NaN,8445,NaN,NaN,Kauf,NaN,CAB 2.0,StadtRAD Hamburg,Call a Bike

In [3]:
df.describe()

,VEHICLE_HAL_ID,VIN,REGISTRATION_PLATE,SERIAL_NUMBER,KW,FUEL_TYPE_NAME,CAPACITY_AMOUNT
count,11228.000000,0.0,0.0,11228.000000,0.0,0.0,0.0
mean,124721.100196,NaN,NaN,6337.797292,NaN,NaN,NaN
std,21549.199358,NaN,NaN,3586.889031,NaN,NaN,NaN
min,106002.000000,NaN,NaN,3.000000,NaN,NaN,NaN
25%,109223.750000,NaN,NaN,3224.750000,NaN,NaN,NaN
50%,116374.500000,NaN,NaN,6398.500000,NaN,NaN,NaN
75%,120785.250000,NaN,NaN,9434.250000,NaN,NaN,NaN
max,177608.000000,NaN,NaN,17065.000000,NaN,NaN,NaN

In [4]:
df = df.drop(['VIN','CAPACITY_AMOUNT','REGISTRATION_PLATE','SERIAL_NUMBER','KW','FUEL_TYPE_NAME'],axis=1)

In [5]:
df.head()

,VEHICLE_HAL_ID,VEHICLE_MODEL_TYPE,VEHICLE_MANUFACTURER_NAME,VEHICLE_MODEL_NAME,VEHICLE_TYPE_NAME,OWNERSHIP_TYPE,ACCESS_CONTROL_COMPONENT_TYPE,COMPANY,COMPANY_GROUP
0,110466,Fahrrad,Biketec,DB-Look,CallBike,Kauf,CAB GPRS 2.0,Call a Bike,Call a Bike
1,110471,Fahrrad,Biketec,DB-Look,CallBike,Kauf,CAB 4.0,Call a Bike,Call a Bike
2,110574,Fahrrad,Biketec,DB-Look,CallBike,Kauf,CAB GPRS 2.0,Call a Bike,Call a Bike
3,110581,Fahrrad,Biketec,StadtRAD-Look,StadtRAD,Kauf,CAB 2.0,StadtRAD Hamburg,Call a Bike
4,110588,Fahrrad,Biketec,DB-Look,CallBike,Kauf,CAB GPRS 2.0,Call a Bike,Call a Bike

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11228 entries, 0 to 11227
Data columns (total 9 columns):
VEHICLE_HAL_ID                   11228 non-null int64
VEHICLE_MODEL_TYPE               11228 non-null object
VEHICLE_MANUFACTURER_NAME        11228 non-null object
VEHICLE_MODEL_NAME               11228 non-null object
VEHICLE_TYPE_NAME                11228 non-null object
OWNERSHIP_TYPE                   11228 non-null object
ACCESS_CONTROL_COMPONENT_TYPE    11228 non-null object
COMPANY                          11228 non-null object
COMPANY_GROUP                    11228 non-null object
dtypes: int64(1), object(8)
memory usage: 789.5+ KB